################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tests/Brian.Tests.Base/bin/Debug/netcoreapp2.2
/tests/Brian.Tests.Base/obj
